In [1]:
import pandas as pd
import pycountry 
import math
import numpy as np
import difflib
#import scipy.stats as stats
import matplotlib.pyplot as plt
from collections import defaultdict
#from scipy.stats.stats import pearsonr

In [2]:
df = df = pd.read_csv('matches_with_gender.csv', index_col = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186128 entries, 0 to 186127
Data columns (total 51 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          186073 non-null  object
 1   tourney_name        186103 non-null  object
 2   surface             185940 non-null  object
 3   draw_size           186099 non-null  float64
 4   tourney_level       186099 non-null  object
 5   tourney_date        186100 non-null  float64
 6   match_num           186101 non-null  float64
 7   winner_id           186073 non-null  float64
 8   winner_entry        25827 non-null   object
 9   winner_name         186101 non-null  object
 10  winner_hand         186082 non-null  object
 11  winner_ht           49341 non-null   float64
 12  winner_ioc          186099 non-null  object
 13  winner_age          183275 non-null  float64
 14  loser_id            186100 non-null  float64
 15  loser_entry         44154 non-null   object
 16  loser_name          186097 non-null  object
 17  loser_hand          186030 non-null  object
 18  loser_ht            38348 non-null   float64
 19  loser_ioc           186102 non-null  object
 20  loser_age           179590 non-null  float64
 21  score               185929 non-null  object
 22  best_of             186099 non-null  float64
 23  round               186098 non-null  object
 24  minutes             81660 non-null   float64
 25  w_ace               82310 non-null   float64
 26  w_df                82312 non-null   float64
 27  w_svpt              82310 non-null   float64
 28  w_1stIn             82310 non-null   float64
 29  w_1stWon            82312 non-null   float64
 30  w_2ndWon            82309 non-null   float64
 31  w_SvGms             82311 non-null   float64
 32  w_bpSaved           82315 non-null   float64
 33  w_bpFaced           82312 non-null   float64
 34  l_ace               82313 non-null   float64
 35  l_df                82319 non-null   float64
 36  l_svpt              82315 non-null   float64
 37  l_1stIn             82304 non-null   float64
 38  l_1stWon            82311 non-null   float64
 39  l_2ndWon            82312 non-null   float64
 40  l_SvGms             82318 non-null   float64
 41  l_bpSaved           82311 non-null   float64
 42  l_bpFaced           82306 non-null   float64
 43  winner_rank         166719 non-null  float64
 44  winner_rank_points  166701 non-null  float64
 45  loser_rank          150845 non-null  float64
 46  loser_rank_points   150828 non-null  float64
 47  tourney_spectators  186101 non-null  float64
 48  tourney_revenue     186102 non-null  float64
 49  winner_gender       183424 non-null  object
 50  loser_gender        183999 non-null  object
dtypes: float64(35), object(16)
memory usage: 73.8+ MB

## wrong values check

### tourney_name

id con pi첫 nomi associati

In [3]:
df['tourney_name']=df['tourney_name'].str.upper()
df['tourney_id']= df['tourney_id'].str[5:]
df['tourney_name']=df['tourney_name'].replace({' CH': '', '  CH': '', "'": '', "-": '', ' MASTERS':'','  ':' ','  ':' '}, regex=True)
TourneyId_name = df.groupby(['tourney_id']).tourney_name.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
TourneyId_name = TourneyId_name[TourneyId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.tourney_id.isin(TourneyId_name.index)].groupby(['tourney_id']).tourney_name.unique().count()

53

In [4]:
df['tourney_name']=df['tourney_name'].replace({ 
                                                'JAPAN OPEN TOKYO': 'TOKYO',
                                                'HIROSHIMA' : 'TOKYO',
                                                'ST. PETERSBURG': 'ST PETERSBURG',
                                                'CHAMPAIGN': 'CHAMPAIGNURBANA',
                                                'STANFORD': 'SAN JOSE',
                                                'EASTBOURNE': 'NOTTINGHAM',
                                                'SEVILLE': 'SEVILLA',
                                                'TORONTO': 'MONTREAL',
                                                'MONTREAL': 'TORONTO ',
                                                'SHENZHEN FINALS': 'SINGAPORE',
                                                'PUNE': 'CHENNAI',
                                                'TOKYO': 'OSAKA',
                                                'CALVIA': 'MALLORCA',
                                                'GSTAAD': 'LAUSANNE',
                                                'TAIPEI': 'HUA HIN',
                                                'ST. BRIEUC': 'SAINT BRIEUC',
                                                'SAINT BRIEUC': 'ST.BRIEUC',
                                                'CHICAGO': 'CHICAGO5',
                                                'ROME': 'ROME ',
                                                'ASTANA': 'NURSULTAN',
                                                'TODI': 'LAQUILA',
                                                'SAN BENEDETTO DEL TRONTO': 'SAN BENEDETTO',
                                                'TASHKENT': 'TASHKENT ',
                                                'BUCARAMANGA': 'FLORIDABLANCA',
                                                'BANGKOK': 'BANGKOK ',
                                                'ROME': 'ROME ',
                                                'SARASOTA': 'BRADENTON',
                                                'DOHA AUS OPEN QUALIES': 'DUBAI AUS OPEN QUALIES',
                                                'LIBEREC': 'LIBEREC ',
                                                'MORELOS': 'CUERNAVACA',
                                                'AIX EN PROVENCE': 'AIXENPROVENCE',
                                                'COLUMBUS': 'ANN ARBOR',
                                                'HOI MINH': 'HOI MINH CITY',
                                                'NONGBO': 'NINGBO',
                                                'CANBERRA': 'BENDIGO',
                                                'BUENOS AIRES': 'TIGRE',
                                                'LYON': 'LYON ',
                                                'CANBERRA': 'PLAYFORD',
                                                'KOBLENZ': 'KOBLENZ ',
                                                'LISBON': 'LISBOA',
                                                'VANCOUVER': 'VANCOUVER ',
                                                'BANGALORE': 'BENGALURU',
                                                'BENDIGO': 'PLAYFORD',
                                                'ALICANTE': 'VILLENA',
                                                'NURSULTAN ': 'NURSULTAN',
                                                'POPRAD': 'POPRADTATRY',
                                                'POPRADTATRY': 'BRATISLAVA',
                                                'BRATISLAVA': 'POPRAD TATRY',
                                                'NEW HAVEN': 'CHICAGO',
                                                'FLORENCE': 'FLORENCE ',
                                                'CALGARY': 'CALGARY ',
                                                'S HERTOGENBOSCH': 'SHERTOGENBOSCH',
                                                'BEIJING': 'BEIJING ',
                                                'OLYMPICS': 'RIO OLYMPICS',
                                                'CHAMPAIGNURBANA': 'CHAMPAIGNURBANAURBANA',                          
                                                'MONTREAL': 'TORONTO ',
                                                'TORONTO ': 'MONTREAL ',
                                                'SAINT BRIEUC': 'ST.BRIEUC',
                                                'CHICAGO5': 'CHICAGO55',
                                                'ROME ': 'ROME  ',
                                                'TASHKENT ': 'TASHKENT  ',
                                                'BANGKOK ': 'BANGKOK  ',
                                                'ROME ': 'ROME  ',
                                                'LIBEREC ': 'LIBEREC  ',
                                                'HOI MINH CITY': 'HOI MINH CITY CITY',
                                                'LYON ': 'LYON  ',
                                                'KOBLENZ ': 'KOBLENZ  ',
                                                'VANCOUVER ': 'VANCOUVER  ',
                                                'POPRADTATRY': 'BRATISLAVATATRY',
                                                'BRATISLAVATATRY': 'POPRAD TATRY',
                                                'POPRAD TATRY': 'P...',
                                                'CHICAGO': 'CHICAGO5',
                                                'FLORENCE ': 'FLORENCE  ',
                                                'CALGARY ': 'CALGARY  ',
                                                'BEIJING ': 'BEIJING  ',
                                                  
        'RIO OLYMPICS': 'RIO RIO OLYMPICS',}, regex=True)

#df['tourney_name']=df['tourney_name'].replace({ ' 1':'', '125':'', '2':''}, regex=True)

TourneyId_name = df.groupby(['tourney_id']).tourney_name.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
TourneyId_name = TourneyId_name[TourneyId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.tourney_id.isin(TourneyId_name.index)].groupby(['tourney_id']).tourney_name.unique().count()

26

nomi dei tornei con pi첫 id

In [5]:
TourneyId_name = df.groupby(['tourney_name']).tourney_id.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
TourneyId_name = TourneyId_name[TourneyId_name > 50] # it contains the TourneyId values associated with more than one Tourneyname value

print(TourneyId_name)

tourney_name
ANTALYA $15K     65
HAMMAMET $15K    59
W15 ANTALYA      72
W15 MONASTIR     70
Name: tourney_id, dtype: int64

## winner_name and loser_name


cocatenare senza spazio

In [6]:
df['winner_name']=df['winner_name'].str.upper()
#df['winner_name']=df['winner_name'].replace({' ':'','  ':''}, regex=True)
WinnerId_name = df.groupby(['winner_name']).winner_id.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
WinnerId_name = WinnerId_name[WinnerId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.winner_name.isin(WinnerId_name.index)].groupby(['winner_name']).winner_id.unique()

winner_name
ASTRID CIROTTE             [236980.0, 223401.0]
FITRIANI SABATINI          [221189.0, 239429.0]
KUAN YI LEE                [134120.0, 221745.0]
LIISA VARUL                [222914.0, 222915.0]
MARIA FERNANDA NAVARRO     [223367.0, 223287.0]
NANA KAWAGISHI             [221771.0, 244078.0]
SOFIA NAHIARA GARCIA       [220928.0, 236977.0]
STANISLAVA BOBROVNIKOVA    [221347.0, 225865.0]
VALENTINA LIA              [220334.0, 239415.0]
Name: winner_id, dtype: object

In [7]:
df['loser_name']=df['loser_name'].str.upper()
#df['loser_name']=df['loser_name'].replace({' ':'','  ':''}, regex=True)
LoserId_name = df.groupby(['loser_name']).loser_id.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
LoserId_name = LoserId_name[LoserId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.loser_name.isin(LoserId_name.index)].groupby(['loser_name']).loser_id.unique()

loser_name
ASTRID CIROTTE             [223401.0, 236980.0]
EKATERINA MAKAROVA         [201505.0, 223126.0]
ELENI FASOULA              [222942.0, 222943.0]
ELLIE MYERS                [222407.0, 240168.0]
EMILSE LUJAN RUIZ          [222646.0, 236974.0]
FITRIANI SABATINI          [221189.0, 239429.0]
GIUSEPPE TRESCA            [206834.0, 207982.0]
GUY STOKMAN                [206883.0, 207142.0]
HEI CHING CLAUDIA NG       [219835.0, 216586.0]
HOLLY FISCHER              [221142.0, 222228.0]
KUAN YI LEE                [134120.0, 221745.0]
LARA ONAL                  [224486.0, 223215.0]
LIISA VARUL                [222915.0, 222914.0]
MARIA FERNANDA NAVARRO     [223367.0, 223287.0]
MATYLDA BURYLO             [222845.0, 222066.0]
NANA KAWAGISHI             [221771.0, 244078.0]
SOFIA NAHIARA GARCIA       [220928.0, 236977.0]
STANISLAVA BOBROVNIKOVA    [221347.0, 225865.0]
VALENTINA LIA              [220334.0, 239415.0]
Name: loser_id, dtype: object

questi sono i nomi dei giocatori in cui ho associato pi첫 di un id per ciascuno/a
    
    ASTRID CIROTTE             [223401.0, 236980.0]
    EKATERINA MAKAROVA         [201505.0, 223126.0]   
    FITRIANI SABATINI          [221189.0, 239429.0]
    ELENI FASOULA              [222942.0, 222943.0]
    ELLIE MYERS                [222407.0, 240168.0]
    EMILSE LUJAN RUIZ          [222646.0, 236974.0]
    GIUSEPPE TRESCA            [206834.0, 207982.0]
    GUY STOKMAN                [206883.0, 207142.0]
    HEI CHING CLAUDIA NG       [219835.0, 216586.0]
    HOLLY FISCHER              [221142.0, 222228.0]
    KUAN YI LEE                [134120.0, 221745.0]
    LARA ONAL                  [224486.0, 223215.0]
    LIISA VARUL                [222915.0, 222914.0]
    MARIA FERNANDA NAVARRO     [223367.0, 223287.0]
    MATYLDA BURYLO             [222845.0, 222066.0]
    NANA KAWAGISHI             [221771.0, 244078.0]
    SOFIA NAHIARA GARCIA       [220928.0, 236977.0]
    STANISLAVA BOBROVNIKOVA    [221347.0, 225865.0]
    VALENTINA LIA              [220334.0, 239415.0]

adesso tra questi trovo quello con id pi첫 frequente

In [8]:
def compareAndSum(first,second):
    dd=df
    a=dd[dd['loser_id'] == first]['loser_id'].count()+dd[dd['winner_id'] == first]['winner_id'].count()
    b=dd[dd['loser_id'] == second]['loser_id'].count()+dd[dd['winner_id'] == second]['winner_id'].count()
    
    if a<b:
        return second
    else:
        return first

def changevalue(x,y,v):
    dd['loser_id']=dd['loser_id'].replace({x:v}, regex=True)
    dd['winner_id']=dd['winner_id'].replace({x:v}, regex=True)
    dd['loser_id']=dd['loser_id'].replace({y:v}, regex=True)
    dd['winner_id']=dd['winner_id'].replace({y:v}, regex=True)
    return dd

In [9]:
dd=df

#ASTRID CIROTTE             [223401.0, 236980.0]
values=compareAndSum(223401.0,236980.0)
dd=changevalue(223401.0,236980.0,values)

#EKATERINA MAKAROVA         [201505.0, 223126.0]
values=compareAndSum(201505.0,223126.0)
dd=changevalue(201505.0,223126.0,values)

#ELENI FASOULA              [222942.0, 222943.0]
values=compareAndSum(222942.0,222943.0)
dd=changevalue(222942.0,222943.0,values)

#FITRIANI SABATINI          [221189.0, 239429.0]
values=compareAndSum(221189.0,239429.0)
dd=changevalue(221189.0,239429.0,values)

##ELLIE MYERS                [222407.0, 240168.0]
values=compareAndSum(222407.0,240168.0)
dd=changevalue(222407.0,240168.0,values)

#EMILSE LUJAN RUIZ          [222646.0, 236974.0]
values=compareAndSum(222646.0,236974.0)
dd=changevalue(222646.0,236974.0,values)

#GIUSEPPE TRESCA            [206834.0, 207982.0]
values=compareAndSum(206834.0,207982.0)
dd=changevalue(206834.0,207982.0,values)

#GUY STOKMAN                [206883.0, 207142.0]
values=compareAndSum(206883.0,207142.0)
dd=changevalue(206883.0,207142.0,values)

#HEI CHING CLAUDIA NG       [219835.0, 216586.0]
values=compareAndSum(219835.0,216586.0)
dd=changevalue(219835.0,216586.0,values)

#HOLLY FISCHER              [221142.0, 222228.0]
values=compareAndSum(221142.0,222228.0)
dd=changevalue(221142.0,222228.0,values)

#KUAN YI LEE                [134120.0, 221745.0]
values=compareAndSum(134120.0,221745.0)
dd=changevalue(134120.0,221745.0,values)

#LARA ONAL                  [224486.0, 223215.0]
values=compareAndSum(224486.0,223215.0)
dd=changevalue(224486.0,223215.0,values)

#LIISA VARUL                [222915.0, 222914.0]
values=compareAndSum(222915.0,222914.0)
dd=changevalue(222915.0,222914.0,values)

#MARIA FERNANDA NAVARRO     [223367.0, 223287.0]
values=compareAndSum(223367.0,223287.0)
dd=changevalue(223367.0,223287.0,values)

#MATYLDA BURYLO             [222845.0, 222066.0]
values=compareAndSum(222845.0,222066.0)
dd=changevalue(222845.0,222066.0,values)

#NANA KAWAGISHI             [221771.0, 244078.0]
values=compareAndSum(221771.0,244078.0)
dd=changevalue(221771.0,244078.0,values)

#SOFIA NAHIARA GARCIA       [220928.0, 236977.0]
values=compareAndSum(220928.0,236977.0)
dd=changevalue(220928.0,236977.0,values)

#STANISLAVA BOBROVNIKOVA    [221347.0, 225865.0]
values=compareAndSum(221347.0,225865.0)
dd=changevalue(221347.0,225865.0,values)

#VALENTINA LIA              [220334.0, 239415.0]
values=compareAndSum(220334.0,239415.0)
dd=changevalue(220334.0,239415.0,values)

In [19]:

LoserId_name = df.groupby(['loser_name']).loser_id.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
LoserId_name = LoserId_name[LoserId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.loser_name.isin(LoserId_name.index)].groupby(['loser_name']).loser_id.unique()

Series([], Name: loser_id, dtype: float64)

In [17]:

LoserId_name = df.groupby(['loser_id']).loser_name.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
LoserId_name = LoserId_name[LoserId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.loser_id.isin(LoserId_name.index)].groupby(['loser_id']).loser_name.unique().count()

48

In [18]:

WinnerId_name = df.groupby(['winner_name']).winner_id.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
WinnerId_name = WinnerId_name[WinnerId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.winner_name.isin(WinnerId_name.index)].groupby(['winner_name']).winner_id.unique()

Series([], Name: winner_id, dtype: float64)

In [20]:

WinnerId_name = df.groupby(['winner_id']).winner_name.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
WinnerId_name = LoserId_name[LoserId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.loser_id.isin(LoserId_name.index)].groupby(['loser_id']).loser_name.unique().count()

48

## winner_ioc

Analisi: tutte le nazioni esistono correttamente

In [12]:
#numero di nazioni diverse e numero di volte che si ripetono
country_winner_dim=df.groupby(df.winner_ioc,as_index=False).size()
#country_loser_dim=df.groupby(df.loser_ioc,as_index=False).size()

nation=np.concatenate((df.winner_ioc.unique(), df.loser_ioc.unique()),0)
country = pd.DataFrame(nation)
country = country.drop_duplicates()

no=0

for i in country[0]:
    try:
        pycountry.countries.get(alpha_3=i)
    except:
        no+=1
        print(i)
        
print("no:",no)

nan
no: 1